# Core packages
streamlit>=1.22
pandas
numpy
scikit-learn
joblib
pillow
requests
matplotlib

# ML & forecasting
prophet>=1.1.7
tensorflow>=2.20

# Utilities for FastAPI/ngrok/etc.
fastapi
uvicorn
pyngrok
nest_asyncio
pyfcm
