streamlit>=1.22
pandas>=2.0
numpy>=1.25
scikit-learn>=1.7
plotly>=5.15
tensorflow>=2.13
prophet>=1.1
joblib>=1.5
paho-mqtt>=1.6
pyfcm>=1.5.4
sqlite3 ; python_version<"3.10"
smtplib ; python_version<"3.10"
opencv-python>=4.8   # for thermal image preprocessing
Pillow>=11.0         # for image handling
matplotlib>=3.8      # optional visualizations
